/* Initialisation */

:root {
    --color_white: #ffffff;
    --color_background: #F6F6F6;
    --color_text: #B5B5B5;
    --color_body: #8F8F8F;
    --color_title2: #6D6D6D;
    --color_title1: #222222;

    --color_red: #DE4C4C;
    --color_blue: #5D84EA;
    --color_highlight: #FF8710;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: var(--color_title1);
}

body {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}


/* Profile */
.profile-section {
    height: 80vh;
    width: 80%;
    margin: 0 auto;
}



.profile-image .img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #8F8F8F;
    position: relative;
    

}

.profile-image .img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.profile-image .img form {

    
    position: absolute;
    top: 7%;
    right: 7%;
    opacity: 1;
}

.profile-image .img label {
    border:var(--color_white) solid 2px;
    background-color: var(--color_white);
    color: var(--color_title1);
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 3px 0.3px var(--color_body);
}

.profile-image .img label:hover {
    background-color: var(--color_background);
}

.profile-image .img label i{
    color: var(--color_body);
}



.profile-image .img input[type="file"] {
    /* display: none; */
}







.profile-info {
    width: 70%;
    margin:  0 auto;
}


.profile-info .table th {
    width: 50%;
}

.profile-info .table td {
    width: 50%;
}